[core]
	editor = code --wait
[user]
	email = fertimo99@gmail.com
	name = FernandoTimo
[alias]
	a = add .
	s = status
	c = commit -m 
	b = branch
	bs = branch -M main 
	p = push
	pf = push -f origin main
	pu = push -u origin main
	last = log -1 HEAD
	file = config --global -e
	all = "!f() { git commit -am \"$*\" && git p; }; f"
	show = "!gitk"
	um = config --global user.email
	un = config --global user.name}
