[core]
	editor = code --wait
[user]
	email = fertimo99@gmail.com
	name = FernandoTimo
[alias]
	a = add .
	s = status
	c = "!f() { git commit -m \"$*\"; }; f"
	ac = "!f() { git a && git c \"$*\"; }; f"
	ch = checkout -- . 
	cch = rm -r --cached 
	b = branch
	bs = branch -M main 
	r = restore .
	rr = reset --soft HEAD~
	ra = "!f() { ([ $1 == 'T' ] && (git remote add origin git@github-Timoideas:Timoideas/$2.git)) || ([ $1 == 'F' ] && ( git remote add origin git@github-FernandoTimo:FernandoTimo/$2.git)) };f"
	rs = "!f() { ([ $1 == 'T' ] && (git remote set-url origin git@github-Timoideas:Timoideas/$2.git)) || ([ $1 == 'F' ] && ( git remote set-url origin git@github-FernandoTimo:FernandoTimo/$2.git)) };f"
	p = push
	pf = push -f origin main
	pu = push -u origin main
	last = log -1 HEAD
	file = config --global -e
	all = "!f() { git commit -am \"$*\" && git p && git last; }; f"
	show = "!gitk"
	k = "!f(){ rm -rf .git; };f"
	v = "!f(){ git tag -a v$1 -m \"$*\"; };f"
	link = "!f(){ rm ~/.gitconfig && cp -rl Git/.gitconfig ~/; };f"
	un = config --global user.name 
	um = config --global user.email 
	l = "!f() { (echo \"$(tput setaf 6)\" && git config --local user.name && git config --local user.email && echo \"$(tput sgr0)\"; )}; f"
	g = "!git config --global user.name && git config --global user.email"
	lt = "!git config --local user.name Timoideas && git config --local user.email Timoideas@hotmail.com"
	gt = "!git config --global user.name Timoideas && git config --global user.email Timoideas@hotmail.com"
	lf = "!git config --local user.name FernandoTimo && git config --local user.email fertimo99@gmail.com"
	gf = "!git config --global user.name FernandoTimo && git config --global user.email fertimo99@gmail.com"
	nf = "clone https://github.com/FernandoTimo/Frontend-Next Frontend"
	nb = clone https://github.com/FernandoTimo/Backend-Express Backend
	na = "!git clone https://github.com/FernandoTimo/Frontend-Next Frontend && rm -rf Frontend/.git && git clone https://github.com/FernandoTimo/Backend-Express Backend && rm -rf Backend/.git"
	hf = "!f() { echo \"$(tput setaf 8) >--     https://github.com/FernandoTimo/$1     --< \"; };f"
	ht = "!f() { echo \"$(tput setaf 8) >--     https://github.com/Timoideas/$1     --< \"; };f"
	nr = "!f() { git init && git gh$1 && gh repo create $2 -d $2 -h http://Timoideas.com --public -y && git rs $1 $2 ; }; f"
	ght = "!f() { echo \"github.com:\" > ~/.config/gh/hosts.yml && echo \"  oauth_token: fd39a4ab217cc7f52b4ce889f4be2a3d6fbdf53c\" >> ~/.config/gh/hosts.yml && echo \"  user: Timoideas\" >> ~/.config/gh/hosts.yml && echo \"  git_protocol: ssh\" >> ~/.config/gh/hosts.yml; }; f"
	ghf = "!f() { echo \"github.com:\" > ~/.config/gh/hosts.yml && echo \"  oauth_token: 7c63a733390993023d11e0265a76747b108d3cf7\" >> ~/.config/gh/hosts.yml && echo \"  user: FernandoTimo\" >> ~/.config/gh/hosts.yml && echo \"  git_protocol: ssh\" >> ~/.config/gh/hosts.yml; }; f"
	i = "!f() { ([ -z $1 ] &&  echo \"Please enter $(tput setaf 3) T $(tput sgr0) or $(tput setaf 3) F $(tput sgr0) in the first arugument.\")  || ( [[ $1 != 'T' && $1 != 'F' ]] && echo \"Invalid fisrt argument try: $(tput setaf 3) T $(tput sgr0) or $(tput setaf 3) F $(tput sgr0) \") || ([ -z $2 ] &&  echo \"$(tput smul)REPOSITORY_NAME$(tput rmul) in second argument is$(tput bold) $(tput setaf 7)$(tput setab 1) requiered $(tput sgr0). \") || ( git nr $1 $2 && git l$1 && echo \"# $2\" >> README.md && echo \"desktop.ini\" >> .gitignore && git ac Repository created successfully. && git pu && git last && printf \"\n$(tput setaf 8) Repositorio creado y enlazado correctamente para: \n\" && git l && git h$1 $2)}; f"
	nfp = "!f() { (git na && git i $1 $2) } ; f"
